//Tipografia
$Font-regular: "GandhiSansRegular";
$Font-bold: "GandhiSansBold";

//Colors
$azul-claro: #8f8ce6;
$rosa-escuro:#7e5166;
$rosa-claro:#93619b;
$rosa-hover: #b998cf;
$text-color: #c9c6c6;
$roxo: #5e2a5a;
$cinza-claro: #767474;

